body {
    background-color: rgb(136, 232, 175);
    margin-top: 10%;
}

p {
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 34%;
}

.calculator {
    position: relative;
    margin: 1em auto;
    padding: 1em auto;
    display: block;
    width: 450px;
    background-color: #4444447e;
    border-radius: 5%;
    box-shadow: 5px 5px 15px 3px #111;
    font-family: sans-serif;
}

.calc-row {
    text-align: center;
}

.calc-row div.screen {
    font-family: sans-serif;
    display: table;
    width: 85%;
    background-color: #aaa;
    text-align: right;
    font-size: 2em;
}